[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Isinglandr"]
	path = Isinglandr
	url = https://github.com/sciurus365/isinglandr
[submodule "NVAR"]
	path = NVAR
	url = https://github.com/sciurus365/nvar
[submodule "SparseVFC"]
	path = SparseVFC
	url = https://github.com/sciurus365/sparsevfc
[submodule "fitlandr"]
	path = fitlandr
	url = https://github.com/sciurus365/fitlandr
[submodule "simlandr"]
	path = simlandr
	url = https://github.com/sciurus365/simlandr
