[submodule ".registry"]
	path = .registry
	url = https://github.com/sciurus365/sciurus365.r-universe.dev
	branch = HEAD
[submodule "Isinglandr"]
	path = Isinglandr
	url = https://github.com/Sciurus365/Isinglandr
[submodule "NVAR"]
	path = NVAR
	url = https://github.com/Sciurus365/NVAR
[submodule "RAMP"]
	path = RAMP
	url = https://github.com/Sciurus365/RAMP
	registered = false
[submodule "SparseVFC"]
	path = SparseVFC
	url = https://github.com/Sciurus365/SparseVFC
[submodule "fitlandr"]
	path = fitlandr
	url = https://github.com/Sciurus365/fitlandr
[submodule "quadVAR"]
	path = quadVAR
	url = https://github.com/Sciurus365/quadVAR
[submodule "simlandr"]
	path = simlandr
	url = https://github.com/Sciurus365/simlandr
